<app-header></app-header>
<div class="container">
  <div class="booking-card" [formGroup]="bookingForm">
    <h2 class="title">Заполните данные для бронирования</h2>
    <div class="form-group">
      <label for="from">Откуда</label>
      <input
        type="text"
        id="from"
        class="input-field"
        placeholder="Введите место отправления"
        formControlName="from"
        (change)="setFromChanged()"
      />
    </div>
    <div class="form-group">
      <label for="to">Куда</label>
      <input
        id="to"
        type="text"
        class="input-field"
        placeholder="Введите место назначения"
        formControlName="to"
        (change)="setToChanged()"
      />
    </div>
    <div class="form-group">
      <label for="date">Выбор даты</label>
      <input
        type="date"
        id="date"
        class="input-field"
        formControlName="date"
        (change)="setDateChanged()"
      />
    </div>
    <div class="form-group">
      <button class="date-button" (click)="setTomorrow()">Завтра</button>
      <button class="date-button" (click)="setTomorrow()">После завтра</button>
    </div>
    <div class="transport-icons">
      <button
        [class.active]="activeButton === 'plane'"
        (click)="setTrasportFlight()"
      >
        <mat-icon class="icon">flight</mat-icon>
      </button>
      <button
        [class.active]="activeButton === 'train'"
        (click)="setTrasportTrain()"
      >
        <mat-icon class="icon">train</mat-icon>
      </button>
      <button
        [class.active]="activeButton === 'suburban'"
        (click)="setTrasportTram()"
      >
        <mat-icon class="icon">tram</mat-icon>
      </button>
      <button
        [class.active]="activeButton === 'bus'"
        (click)="setTrasportBus()"
      >
        <mat-icon class="icon">directions_bus</mat-icon>
      </button>
      <button
        [class.active]="activeButton === 'any'"
        (click)="setTrasportAny()"
      >
        Любой
      </button>
      <button class="find-button" (click)="apply()" [disabled]="!bookingForm.valid">Найти</button>
    </div>
  </div>
</div>

@if(stateModalTransport | async){
<app-modal-window-transport></app-modal-window-transport>
}
