.map-container {
  position: relative;
  width: 100%;
  height: 88vh;
}

.map {
  width: 100%;
  height: 100%;
}


.mapboxgl-ctrl-top-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff !important; 
  border: 1px solid #ccc !important; 
  border-radius: 4px !important; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; 
  padding: 10px; 
}

.mapboxgl-ctrl-group {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

.mapboxgl-ctrl-group .mapbox-gl-draw_ctrl-draw-btn, 
.mapboxgl-ctrl-group .mapbox-gl-draw_ctrl-action-btn {
  background-color: #007bff !important; 
  color: #ffffff !important; 
  border: none !important; 
  border-radius: 4px !important; 
  padding: 8px !important; 
  margin: 4px !important; 
}

.mapboxgl-ctrl-group .mapbox-gl-draw_ctrl-draw-btn:hover, 
.mapboxgl-ctrl-group .mapbox-gl-draw_ctrl-action-btn:hover {
  background-color: #0056b3 !important; 
}

/* Стили для кнопки удаления */
.mapboxgl-ctrl-group .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_trash {
  background-color: #dc3545 !important; 
}

.mapboxgl-ctrl-group .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_trash:hover {
  background-color: #c82333 !important; 
}

.mapboxgl-ctrl {
  display: none;
}