.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;     th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      color: #333;
    }

    /* Стили для строк */
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }

    /* Дополнительные стили для ячеек */
    td {
      max-width: 150px; /* Ограничиваем ширину ячеек */
      white-space: nowrap; /* Предотвращаем перенос текста */
      overflow: hidden;
      text-overflow: ellipsis; /* Добавляем многоточие в конце, если текст не помещается */
    }

    /* Стили для заголовков столбцов */
    th:first-child, td:first-child {
      border-left: 1px solid #ddd;
    }

    th:last-child, td:last-child {
      border-right: 1px solid #ddd;
    }
    max-height: 90%; 
    min-width: 90%;
    min-height: 90%;
    overflow: auto; 
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-body {
    position: relative;
  }
  
  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .segment-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .segment-table th, .segment-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .segment-table th {
    background-color: #f2f2f2;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: red;
  }

  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 80%; 
  }
  
  .content-container {
    width: 100%;
    overflow-x: auto; 
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    color: #333;
  }

  /* Стили для строк */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:nth-child(odd) {
    background-color: #fff;
  }

  /* Дополнительные стили для ячеек */
  td {
    max-width: 150px; /* Ограничиваем ширину ячеек */
    white-space: nowrap; /* Предотвращаем перенос текста */
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие в конце, если текст не помещается */
  }

  /* Стили для заголовков столбцов */
  th:first-child, td:first-child {
    border-left: 1px solid #ddd;
  }

  th:last-child, td:last-child {
    border-right: 1px solid #ddd;
  }
